{
    "channel": "{{.Channel}}",
    "blocks": [
        { "type": "section",
          "text": { "type": "mrkdwn", "text": "*{{ .Title}}*" }},
        { "type": "divider" },
        { "type": "section",
          "text": { "type": "mrkdwn", "text": "{{ .Message }}" }}
{{- if ne .ImageURL ""}}
    , {"type": "image", "image_url": "{{ .ImageURL }}", "alt_text": "{{ .ImageURL }}"}
{{- end}}],
    "text": "{{ .Title }}"
{{- if ne .ParentTS ""}}
    , "thread_ts": "{{ .ParentTS }}"
{{- end}}
}