{
    "channel": "{{.Channel}}",
    "as_user": true,
    "text": "{{ .Title }}"

{{- if eq .QuoteColor ""}}
    ,"blocks": [
        { "type": "section",
          "text": { "type": "mrkdwn", "text": "*{{ .Title}}*" }},
        { "type": "divider" },
        { "type": "section",
          "text": { "type": "mrkdwn", "text": "{{ .Message }}" }}
    {{- if ne .ImageURL ""}}
        , {"type": "image", "image_url": "{{ .ImageURL }}", "alt_text": "{{ .ImageURL }}"}
    {{- end}}]
{{- end}}

{{- if ne .QuoteColor ""}}
    ,"attachments": [
        { "color": "{{ .QuoteColor }}",
          "blocks": [
            { "type": "section",
              "text": { "type": "mrkdwn", "text": "{{ .Message }}" }}
        {{- if ne .ImageURL ""}}
            , {"type": "image", "image_url": "{{ .ImageURL }}", "alt_text": "{{ .ImageURL }}"}
        {{- end}}]
    }]
{{- end}}

{{- if ne .ParentTS ""}}
    , "thread_ts": "{{ .ParentTS }}"
{{- end}}
}